*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
node_modules
bower_components
target
.settings
.project
.classpath
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
node/
.npm
*.factorypath
npm-debug.log
.vscode
test-output
.factorypath
.springBeans
node
*.iml
.apt_generated
.wtpmodules
*.lock

hs_err_*.log
setup.json
dist
*.pid
app.full.min.js
app.full.min.css
.gradle
out
build
package-lock.json
!gradle-wrapper.jar
*.log
